<div class="container mt-5">

    <div *ngIf="registerMode==0" style="text-align: center;">
            <h1>find your match</h1>
            <p class="lead"> Come on in... all you need to do is sign up!</p>
            <div class="text-center">
                    <button (click)="registerToggle()" class="btn btn-primary  btn-lg me-2">Register</button>
                    <button (click)="login()" class="btn btn-info btn-lg">Login</button>
            </div>
    </div>


    <div *ngIf="registerMode==1" class="container" >
        <div class="row justify-content-center">

                <div class="col-4"> <!-- was placed below  for @Input Example [userFromHomeComponent]="users" -->
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>

        </div>

    </div>


    <div *ngIf="registerMode==2" class="container" >
        <div class="row justify-content-center">

                <div class="col-4"> <!-- was placed below  for @Input Example [userFromHomeComponent]="users" -->
                    <app-login (cancelRegister)="cancelRegisterMode($event)"></app-login>
                </div>

        </div>

    </div>

</div>