<h4>Internal server error somthing wrong with the server</h4>
<ng-container *ngIf="error">
<h5 class="text-danger">Error:{{error.message}}</h5>
<p class="font-weight-bold">Note: IF you are seeing this then there is not mistake in frontend go fix the backend!</p>
<ul>
    <li>open chrome dev tools and check for failing request n network tab</li>
    <li>Examing the request URL - what API endpoint are you requesting</li>
    <li>Reproduce the problem in POSTMAN - if we get the same error  Angular is not the problem here</li>
</ul>
<p style="font-weight:bold"> Here is the stacktrace of - it will tell you something about the error
    <code class="my-5" style="background-color:whitesmoke">
    {{error.details}}
    </code>
</p>
</ng-container>