
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary mynav" style=" background-color:aqua;">
    <div class="container">
     <a class="navbar-brand" (click)="redirect()">Dating App</a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2 " *ngIf="currentUser$|async">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>

       
        </ul>
        <!-- <a class="nav-link" routerLink="/errors" >error page</a> -->


            <div class="dropdown mt-2" *ngIf="(this.account.currentuser$ | async) as user" dropdown>
                <a class="dropdown-toggle text-light text-decoration-none " dropdownToggle><span class="text">Welcome {{user.username | titlecase}}</span></a>
                <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" routerLink="memberme/edit">Edit profile</a>
                        <a class="dropdown-item" (click)="logout()">logout</a>
                </div>
                
            </div>

           
      
    </div>
  </nav>